.button
{
-fx-background-color : black;
-fx-text-fill : white;
}

.combo-box{
    -fx-background-color : black;
    -fx-text-fill : white;
}

.combo-box .list-cell{
    -fx-text-fill : white;
    -fx-background-color: black;
}

.combo-box-popup .list-view {
    -fx-font-size: 11pt;
}

.button-main-menu{
    -fx-background-color: #5b5a5a;
    -fx-text-fill: white;
}

#vbox-main-menu{
    -fx-background-color: #5b5a5a;
}

.card-display{
    -fx-background-color: #acb0ac;
}

.check-box{
    -fx-text-fill: white;
}

.anchor-pane {
    -fx-border-color: #39393b;
    -fx-background-color: #39393b;
}

.button:hover{
    -fx-background-color : #80CFA9;
    -fx-text-fill : black;
}

.button:pressed
{
    -fx-background-color : #3EA372
}

.scroll-pane {
    -fx-background-color: #39393b;
    -fx-border-color: #39393b;
}

.table-view{
    -fx-background-color: #393838;
    /*-fx-selection-bar: #262677;*/
}

.table-row-cell {
    -fx-background-color: #393838;
}

.table-row-cell:focused {
    -fx-background-color: #a4a0a0;
    -fx-text-fill: black;
}

.table-row-cell .text {
    -fx-fill: white;
}

.table-view .column-header{
    -fx-background-color: #262525;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-radius: 5em;
}

.scroll-pane > .corner {

}

.label {
    -fx-text-fill : white;
}

.card-label{
    -fx-text-fill: black;
}

.storeCard {
    -fx-border-radius: 10 10 10 10;
    -fx-border-width: 2 2 2 2;
}
.storeCard:hover{
    -fx-border-width: 0px 0px 0px 3px;
    -fx-border-color: #000000;
    -fx-border-style:solid;
}
.storeCard:hover .sidebar-btn-icon{
    -fx-fill:#000000;
}
.storeCard:hover .sidebar-btn-text{
    -fx-text-fill:#000000;
}

#amount-text-field {
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
}

#total-summary-hbox {
    -fx-border-radius: 10 10 10 10;
    -fx-border-color: black;
}

.text-field {
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
}

#accept-button{
    -fx-background-color:  #68CA6D;
}

#accept-button:hover {
    -fx-background-color : #278a2c;
}

#accept-button:pressed {
    -fx-background-color : #9fcfa2;
}

#reject-button{
    -fx-background-color:  #E84855;
}

#reject-button:hover {
    -fx-background-color : #8d1821;
}

#reject-button:pressed {
    -fx-background-color : #cb777e;
}


